/* init */
html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    overflow: hidden;
    position: absolute;
    color: #32eaff;
    font-family: RobotoMonoRegular;
    font-size: 1.4rem;
}
ul{
    text-decoration: none;
    list-style: none;
}
div#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
canvas#canvas{
    position: absolute;
    top: 0;
    left: 0;
    /* filter: drop-shadow(0 0 10px #ffffff); */
}



/* test */
div.test{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}
div.test-object-container{
    width: 100%;
    height: 100%;
}
div.test-object{
    width: 100%;
    height: 100%;
}